
#container{
    width: 216px;
    height: 140px;
    background-color:#D6DAF4;
    box-shadow: 10px 10px 5px grey;

}


#first{
    width: 50px;
    height: 50px;
    background-color: rgb(21, 221, 201);
    border: 2px solid black;
    display: inline-block;
    
}

#second{
    width: 50px;
    height: 50px;
    background-color:#FF4F00;
    border: 2px solid black;
    display: inline-block;
}

.prompt{
    font-weight:bold;
}

.button{
    background-color:#21d448;
    font-weight:bold;

}

